.background{
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(148, 143, 143, 0.5),
      rgba(10, 116, 51, 0.5)
    ),
    url("https://wallpaperaccess.com/full/493222.jpg");
  background-size: cover;

}
.login {
  height: 500px;
  width: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(10, 126, 29, 0.5),
      rgba(3, 56, 23, 0.5)
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRr5mGNz4TE-hFdwgqC6JpiPgOY4nZjSbEwPXsRS2vJuWMEGxoDeFN3APykawPn7-w_Gt0&usqp=CAU");
  background-size: contain;
}


.loginTitle {
  font-size: 50px;
  font-weight: bold;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-size: 19px;
  font-weight: bold;
}

.loginForm > label {
  margin: 10px 0;
}

.loginInput1 {
  padding: 15px;
  background-color: rgb(127, 156, 135);
  border: none;
  margin-left: 35px;
}

.loginInput2 {
  padding: 15px;
  background-color: rgb(127, 156, 135);
  border: none;
  margin-left: 40px;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(115, 115, 117);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  width: 135px;
  height: 40px;
  margin-left: 145px;
}

.loginButton:disabled{
  cursor: not-allowed;
  background-color: rgb(41, 40, 40);
}

.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
