.header {
  margin-top: 0px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  
 
}

.headerTitleSm {
  position: absolute;
  top: 18%;
  font-size: 100px;
  font-weight: bold;
  margin-top: 110px;
  margin-left: 15px;
  color: rgb(254, 255, 254);
}

.headerTitleLg {
  position: absolute;
  top: 20%;
  margin-top: 145px;
  font-size: 100px;
  color: rgb(3, 39, 21);
  font-family: "Lora";
}

.headerImg{
    width: 100%;
    height: 600px;
    margin-top: 0px;
    object-fit: cover;
    background: linear-gradient(
      rgba(236, 238, 237, 0.5),
      rgba(56, 3, 53, 0.5)
    );
}