.write {
    padding-top: 0px;
  }
  
  .writeImg {
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .title {
    position: absolute;
    top: 10%;
    font-size: 90px;
    font-weight: bold;
    margin-top: 150px;
    margin-left: 220px;
    color: rgb(0, 0, 0);
  }

  .title1 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 50px;
    color: rgb(0, 0, 0);
  }

  .para1 {
    font-size: 16px;
    margin-left: 80px;
    color: rgb(0, 0, 0);
    text-align: justify;
  }
  
  .title2 {
    font-size: 15px;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 50px;
    color: rgb(0, 0, 0);
  }

  .para2 {
    font-size: 16px;
    margin-left: 80px;
    color: rgb(0, 0, 0);
    text-align: justify;
  }

  .para3 {
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: justify;
    font-style: italic;
  }
  

